<form class="mt-4" name="container-form" method="post" action="/courses/handle-form-actions">

    <div>
        <h3>My Course</h3>
        <a href="/me/trash/courses">Recycle Bin</a>

        <div class="mt-4 d-flex align-items-center">

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">
                    Select All
                </label>
            </div>

            <select class="form-control form-control-sm" name="action" style="width: 150px; margin: 0 16px" required>
                <option value="">-- Select Action --</option>
                <option value="delete">Delete</option>
            </select>

            <button class="btn btn-primary btn-sm btn-submit" disabled>Apply</button>

        </div>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col" colspan="2">#</th>
                <th scope="col">Name Course</th>
                <th scope="col" colspan="2">Time Created</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="courseIds" value="{{this._id}}"
                            id="defaultCheck1">
                    </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Edit</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-target="#delete-course-modal"
                        data-id="{{this._id}}">Delete</a>
                </td>
            </tr>

            {{else}}
            <tr>

                <td class="text-center" colspan="5">You don't have any course.
                    <a href="/courses/create">Create new course here.</a>
                </td>

            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

<div class="modal" id="delete-course-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the course?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<form method="post" name="delete-course-form"></form>

<script>

    document.addEventListener('DOMContentLoaded', function () {

        var courseID;
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var deleteForm = document.forms['delete-course-form'];
        var checkbokAll = $('#checkbox-all');
        var courseItemCheckbok = $('input[name="courseIds"]');
        var btnSubmit = $('.btn-submit');
        var containerForm = $('form[name="container-form"]');

        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            courseID = button.data('id')
        })

        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseID + '?_method=DELETE';
            deleteForm.submit();
        }

        // Checkbox Select All
        checkbokAll.change(function () {
            var isCheckedAll = $(this).prop('checked');
            courseItemCheckbok.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        //Course Checkbox Click
        courseItemCheckbok.change(function () {
            var isCheckedAll = courseItemCheckbok.length === $('input[name="courseIds"]:checked').length;
            checkbokAll.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        //Re-render check all submit button
        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="courseIds"]:checked').length;
            if (checkedCount > 0) {
                btnSubmit.attr('disabled', false);
            } else {
                btnSubmit.attr('disabled', true);
            }
        };
    });

</script>